Nav a {
  color: #2b2b2b !important;
  font-weight: 600;
  font-size: 18px;
  transition:0.3s;
}
Nav a:hover{
  color: #f63e7b!important;
}
.nav-logo {
  font-size: 28px;
  font-weight: 700;
}
.drop-btn {
  background-color: #f63e7b;
  margin-top: 8px;
  text-align: center;
  padding: 5px 20px;
  color: #fff;
}
.logout-btn{
  background-color: #f63e7b;
  border: 0px;
  color: #fff;
  border-radius:30px;
  width: 105px;
  height:37px;
  font-size:16px;
  font-weight:500;
}